.flattened-pom.xml
*.iml
*.ipr
*.iws
.idea/
.vscode/
bin/
target/
/conf/
nbproject/
nbactions.xml
nb-configuration.xml
*.log
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
#*.properties
local.properties
.classpath
.settings/
.loadpath
api/app.output_IS_UNDEFINED/
deploy/tomcat/
deploy/conf/
deploy/target/
# External tool builders
.externalToolBuilders/
LOG_PATH_IS_UNDEFINED/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

.DS_Store
*.o

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
console/build
.*.sw[a-z]
*.un~
Session.vim
node_modules
coverage
*.log
development.json
production.json
dist
# yarn.lock
libs
.history
__cdn__
__static__
config-static
node_modules/**
.codegraph/
.tmp-study/
spec/
memories/
